<h1>Shopping List Page</h1>

<h5>Name: </h5>
<p> {{ name }}</p> <!-- Ubahlah sesuai dengan nama kamu -->
<h5>Class: </h5>
<p>{{ class }}</p> <!-- Ubahlah sesuai dengan kelas kamu -->
<h5>Jumlah mahasiswa: </h5>
<p>{{ jumlah }}</p> <!-- Ubahlah sesuai dengan kelas kamu -->
<h5>Deskripsi kelas: </h5>
<p> {{ deskripsi }}</p> <!-- Ubahlah sesuai dengan nama kamu -->
<h5>difficulty: </h5>
<p>{{ difficulty }}</p> <!-- Ubahlah sesuai dengan kelas kamu -->
<h5>nilai rata rata : {{nilai}}</h5>
<p>{{ nilai }}</p> <!-- Ubahlah sesuai dengan kelas kamu -->

